/**
 * Base
 * @module
 */
/**
 * Mixins
 * @module
 */
/**
 * Structure
 * @module
 */
/**
 * Typography
 * @module
 */
/**
 * Line Heights
 */
/**
 * Base
 * @partial
 */
html {
  /**
   * Selection
   * @source http://css-tricks.com/overriding-the-default-text-selection-color-with-css/
   */
}
html body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #777f89;
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65em;
}
html a {
  color: #777f89;
}
html a:hover {
  color: #878e97;
}
html ::selection {
  background: rgba(59, 156, 165, 0.7);
  /* Safari */
  color: #eeeeee;
}
html ::-moz-selection {
  background: rgba(59, 156, 165, 0.6);
  /* Firefox */
  color: #eeeeee;
}

/**
 * Typography
 * Partial that controls the default typography settings of the site
 *
 * @partial
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 300;
  line-height: 1.2em;
  margin: 0 0 15px;
  padding: 0;
}

h1, .h1 {
  font-size: 2.6em;
}

h2, .h2 {
  font-size: 2.15em;
}

h3, .h3 {
  font-size: 1.8em;
}

h4, .h4 {
  font-size: 1.6em;
}

h5, .h5 {
  font-size: 1.25em;
}

h6, .h6 {
  font-size: 0.85em;
}

/**
 * Structure
 * @partial
 */
.col-solo {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.col-left {
  float: left;
}

.col-right {
  float: right;
}

.main-container {
  margin: 30px auto;
}

.site-header {
  display: none;
}

.section {
  border-bottom: 1px solid #eeeeee;
  padding: 30px 0;
}
.section .section-header {
  color: #5c646e;
  margin-top: 0;
  margin-bottom: 15px;
}
.section .section-title {
  color: #5c646e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}
.section .row {
  margin: 15px;
}

.featurette {
  border: none;
  display: table;
  height: 32em;
  width: 100%;
}
.featurette.colored {
  background-color: #3b9ca5;
  color: #eeeeee;
}
.featurette.colored .section-header {
  color: #eeeeee;
}
.featurette.colored .section-title {
  color: #eeeeee;
}
.featurette.colored a {
  color: #eeeeee;
  text-decoration: underline;
}
.featurette.colored a:hover {
  background: #33878e;
}
.featurette .container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.featurette .headline {
  font-size: 56px;
  font-weight: 300;
}
.featurette .sub-headline {
  line-height: 1.4em;
}

.chunk {
  padding: 15px;
}
.chunk.shaded {
  background: #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
}

/**
 * Base (Content)
 * @partial
 */
article .entry-header h1, article .entry-header h2, article .entry-header h3, article .entry-header h4, article .entry-header h5, article .entry-header h6 {
  font-weight: 700;
}
article .entry-header h1 a, article .entry-header h2 a, article .entry-header h3 a, article .entry-header h4 a, article .entry-header h5 a, article .entry-header h6 a {
  color: #373d42;
}
article .entry-header h1 a:hover, article .entry-header h2 a:hover, article .entry-header h3 a:hover, article .entry-header h4 a:hover, article .entry-header h5 a:hover, article .entry-header h6 a:hover {
  color: #3b9ca5;
  text-decoration: none;
}

/**
 * Comments (Content)
 * @partial
 */
article .entry-comments code {
  white-space: inherit;
}

/**
 * Post (Content)
 * @partial
 */
