/**
 * Base
 * @partial
 */
html {
  /**
   * Selection
   * @source http://css-tricks.com/overriding-the-default-text-selection-color-with-css/
   */
}
html body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #777f89;
  font-family: "Domine", "Georgia", "Serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.65em;
}
html a {
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  color: #3b9ca5;
}
html a:hover {
  color: #43b1bc;
}
html ::selection {
  background: rgba(59, 156, 165, 0.7);
  /* Safari */
  color: #eeeeee;
}
html ::-moz-selection {
  background: rgba(59, 156, 165, 0.6);
  /* Firefox */
  color: #eeeeee;
}

.page-container {
  padding-top: 50px;
}

/**
 * Typography
 * Partial that controls the default typography settings of the site
 *
 * @partial
 */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: lighter;
  line-height: 1.2em;
  margin: 0 0 15px;
  padding: 0;
}

h1, .h1 {
  font-size: 2.6em;
}

h2, .h2 {
  font-size: 2.15em;
}

h3, .h3 {
  font-size: 1.8em;
}

h4, .h4 {
  font-size: 1.6em;
}

h5, .h5 {
  font-size: 1.25em;
}

h6, .h6 {
  font-size: 0.85em;
}

blockquote {
  padding: 0 20px;
}

p {
  margin-bottom: 1.65em;
}

pre {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: none;
  font-size: 14px;
  line-height: 1.65em;
  padding: 20px;
}

.hashtag {
  color: #3b9ca5;
}

.text-smaller {
  font-size: 0.65em;
}

/**
 * Structure
 * @partial
 */
.col-solo {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.col-solo.col-md-8 {
  max-width: 780px;
}

.col-left {
  float: left;
}

.col-right {
  float: right;
}

/**
 * Footer
 * @partial
 */
.site-footer {
  text-align: center;
  margin: 30px auto 60px;
}
.site-footer .socials {
  margin-bottom: 15px;
}
.site-footer .socials .icon {
  color: #aeb2b8;
  padding: 0px 5px;
}
.site-footer .socials .icon:hover {
  color: #3b9ca5;
  text-decoration: none;
}

/**
 * Buttons
 * @partial
 */
.button {
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -ms-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  display: inline-block;
  background-color: whitesmoke;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  line-height: 1;
  font-size: 0.85em;
  padding: 10px 15px;
  font-weight: bold;
}
.button:hover {
  background-color: #ebebeb;
  text-decoration: none;
}
.button a:hover {
  text-decoration: none;
}

.site-header {
  -webkit-transition: background-color 0.2s ease;
  -moz-transition: background-color 0.2s ease;
  -ms-transition: background-color 0.2s ease;
  -o-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  height: 50px;
  background: #fff;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #eee;
}
.site-header:hover {
  background-color: white;
}
.site-header .container {
  overflow: hidden;
}
.site-header .navbar-default {
  background-color: transparent;
  border: none;
}
.site-header .navbar-collapse {
  border-top: none;
}
.site-header .navbar-toggle {
  border-color: #eeeeee;
}
.site-header .navbar-toggle:hover {
  background-color: transparent;
}
.site-header .navbar-toggle:hover .icon-bar {
  background-color: #3b9ca5;
}
.site-header .navbar-toggle:focus {
  background-color: transparent;
}
.site-header .navbar-toggle .collapsed {
  background-color: transparent;
}
.site-header .site-logo {
  float: left;
  margin: 0px 0px 0px 15px;
  width: 242px;
}
.site-header .site-logo a {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  -ms-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
  display: block;
  position: relative;
  padding: 0;
  text-transform: uppercase;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  font-weight: bold;
  color: #5c646e;
  overflow: hidden;
}
.site-header .site-logo a:hover {
  text-decoration: none;
  color: #3b9ca5;
}
.site-header .site-logo img {
  display: block;
  border: none;
  float: left;
  padding-top: 4px;
  height: 46px;
}
.site-header .site-logo .site-logo-name {
  float: left;
  display: block;
  padding: 12px 20px 8px;
}
.site-header .site-navigation {
  border-bottom: 1px solid #dfdfdf;
  background-color: #fff;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  font-weight: bold;
  font-size: 0.85em;
  line-height: 1;
  color: #5c646e;
}
.site-header .site-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.site-header .site-navigation ul li {
  display: block;
}
.site-header .site-navigation ul li a {
  display: block;
  padding: 15px;
}
.site-header .site-navigation ul li a:hover {
  background-color: #eaf5f5;
  text-decoration: none;
  color: #52b8c1;
}

.admin-bar #wpadminbar {
  display: none;
  z-index: 99999999;
}
.admin-bar .site-header {
  top: 0px;
}

.section {
  border-bottom: 1px solid #eeeeee;
  padding: 30px 0;
}
.section .section-header {
  color: #5c646e;
  margin-top: 0;
  margin-bottom: 15px;
}
.section .section-title {
  color: #5c646e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}
.section .row {
  margin: 15px;
}

.chunk {
  padding: 15px;
}
.chunk.shaded {
  background: #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
}

.featurette {
  border: none;
  display: table;
  height: 32em;
  width: 100%;
}
.featurette.colored {
  background-color: #3b9ca5;
  color: #eeeeee;
}
.featurette.colored .section-header {
  color: #eeeeee;
}
.featurette.colored .section-title {
  color: #eeeeee;
}
.featurette.colored a {
  color: #eeeeee;
  text-decoration: underline;
}
.featurette.colored a:hover {
  background: #33878e;
}
.featurette .container {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
.featurette .headline {
  font-size: 56px;
  font-weight: lighter;
}
.featurette .sub-headline {
  line-height: 1.4em;
}

/**
 * Cover (Featurette)
 * This is the main featurette that showcases the featured images of posts.
 * This is mainly seen on single / singular pages.
 *
 * @partial
 */
.featurette.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 0;
  padding-top: 54.25%;
  position: relative;
  overflow: hidden;
  margin-bottom: -15px;
}
.featurette.cover .cover-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: background-color 0.4s ease;
  -moz-transition: background-color 0.4s ease;
  -ms-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
  background-color: transparent;
  display: block;
}
.featurette.cover .cover-link:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: black;
}

/**
 * Base (Content)
 * @partial
 */
article {
  margin-top: 45px;
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}
article .entry-header h1, article .entry-header h2, article .entry-header h3, article .entry-header h4, article .entry-header h5, article .entry-header h6 {
  color: #373d42;
  font-weight: 700;
}
article .entry-header h1 a, article .entry-header h2 a, article .entry-header h3 a, article .entry-header h4 a, article .entry-header h5 a, article .entry-header h6 a {
  color: #373d42;
  display: block;
}
article .entry-header h1 a:hover, article .entry-header h2 a:hover, article .entry-header h3 a:hover, article .entry-header h4 a:hover, article .entry-header h5 a:hover, article .entry-header h6 a:hover {
  color: #3b9ca5;
  text-decoration: none;
}
article .entry-taxonomy {
  margin-bottom: 5px;
}
article .entry-meta {
  color: #aeb2b8;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  font-size: 0.85em;
  line-height: 1;
  margin-bottom: 1.5em;
}
article .entry-meta a {
  color: #777f89;
  text-decoration: none;
}
article .entry-meta a:hover {
  color: #3b9ca5;
  text-decoration: underline;
}
article .entry-meta .sep {
  margin: 0 5px;
}
article .entry-meta .space {
  margin: 0 5px;
  font-weight: 400;
}
article .entry-meta .entry-category {
  font-size: 1em;
}
article .entry-category {
  color: #aeb2b8;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  font-size: 0.85em;
  line-height: 1;
  margin-bottom: 1.5em;
  font-weight: bold;
}
article .entry-category .sep {
  margin: 0 5px;
}
article .entry-category .space {
  margin: 0 5px;
  font-weight: 400;
}
article .entry-content blockquote,
article .entry-content pre,
article .entry-content dl,
article .entry-content ol,
article .entry-content ul,
article .entry-content table {
  margin-bottom: 1.65em;
}
article .entry-content dl dt, article .entry-content dl dd {
  margin-bottom: 15px;
}
article .entry-content ul ol, article .entry-content ul ul {
  margin-bottom: 0;
}
article .entry-content ol ol, article .entry-content ol ul {
  margin-bottom: 0;
}
article .entry-media-container {
  margin-bottom: 1.65em;
}
article .entry-media-container img {
  max-width: 100%;
  height: auto;
}
article .entry-media-container.video {
  height: 0;
  padding-top: 62.65%;
  position: relative;
}
article .entry-media-container.video iframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
article .entry-tags .tag-label {
  color: #aeb2b8;
  margin-right: 15px;
}
article .entry-tags .tag {
  margin-right: 15px;
}
article .more-link {
  color: #3b9ca5;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  font-size: 0.85em;
  line-height: 1;
  display: block;
  margin: 15px 0;
  font-weight: 700;
}
article .more-link:hover {
  color: #52b8c1;
  text-decoration: none;
}

/**
 * Comments (Content)
 * @partial
 */
.entry-comments {
  margin-bottom: 60px;
}
.entry-comments h1, .entry-comments h2, .entry-comments h3, .entry-comments h4, .entry-comments h5, .entry-comments h6 {
  color: #282c30;
}
.entry-comments code {
  white-space: inherit;
}
.entry-comments textarea {
  width: 100%;
  max-width: 100%;
  padding: 15px;
}
.entry-comments ol {
  list-style: none;
}
.entry-comments .comment-list {
  padding-left: 0;
}
.entry-comments .comment-list article {
  margin-top: 0;
  margin-bottom: 30px;
}
.entry-comments .comment-list article .comment-metadata {
  color: #aeb2b8;
  font-size: 0.85em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  line-height: 1.5em;
}
.entry-comments .comment-list article .comment-metadata a {
  color: #aeb2b8;
}
.entry-comments .comment-respond .comment-form-comment label {
  display: block;
}
.entry-comments .comment-respond .comment-form-comment textarea {
  width: 100%;
  padding: 15px;
  color: #5c646e;
  border: 1px solid #ddd;
}
.entry-comments .comment-respond .form-submit #submit {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  font-size: 0.85em;
  line-height: 1;
  background-color: transparent;
  border: 2px solid #5c646e;
  font-weight: bold;
  padding: 10px 15px;
  color: #5c646e;
}
.entry-comments .comment-respond .form-submit #submit:hover {
  background-color: whitesmoke;
}

/**
 * Images (Content)
 * @partial
 */
.entry-content img {
  max-width: 100%;
  height: auto;
}
.entry-content .alignleft {
  float: left;
  margin-right: 30px;
  margin-bottom: 15px;
}
.entry-content .wp-caption {
  max-width: 100%;
}
.entry-content .wp-caption img {
  width: 100%;
  height: auto;
}
.entry-content .wp-caption .wp-caption-text {
  background: whitesmoke;
  font-size: 0.65em;
  line-height: 1.65em;
  padding: 10px 15px;
}

.entry-media-container.image .aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/**
 * Page (Content)
 * @partial
 */
.page-header {
  border: none;
  padding-bottom: 0;
}
.page-header .page-title {
  font-size: 1.6em;
}

.page article h1, .page article h2, .page article h3, .page article h4, .page article h5, .page article h6 {
  color: #282c30;
}
.page article .entry-header h1 {
  font-size: 3.2em;
}
.page article .entry-content {
  color: #535a63;
  font-size: 20px;
  line-height: 1.8em;
  margin-bottom: 60px;
}
.page article .entry-content h1, .page article .entry-content h2, .page article .entry-content h3, .page article .entry-content h4, .page article .entry-content h5, .page article .entry-content h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  font-weight: 400;
}
.page article .entry-media-container {
  margin-left: -15%;
  margin-right: -15%;
  width: 130%;
}

/**
 * Pagination (Content)
 * @partial
 */
.paging-navigation {
  margin-bottom: 60px;
}
.paging-navigation .nav-links {
  overflow: hidden;
}
.paging-navigation .nav-link {
  padding: 0;
}
.paging-navigation .nav-link a {
  display: inline-block;
  padding: 10px 15px;
}
.paging-navigation .nav-previous {
  float: left;
}
.paging-navigation .nav-next {
  float: right;
}

/**
 * Previous & Next (Content)
 * @partial
 */
.entry-previous-next .entry-post-header h1, .entry-previous-next .entry-post-header h2, .entry-previous-next .entry-post-header h3, .entry-previous-next .entry-post-header h4, .entry-previous-next .entry-post-header h5, .entry-previous-next .entry-post-header h6 {
  font-size: 1.6em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  font-weight: 300;
}
.entry-previous-next article {
  border: none;
  margin: 15px auto 30px;
}

/**
 * Post (Content)
 * @partial
 */
/**
 * Single (Content)
 * @partial
 */
.single article h1, .single article h2, .single article h3, .single article h4, .single article h5, .single article h6 {
  color: #282c30;
}
.single article .entry-content {
  color: #535a63;
  font-size: 18px;
  line-height: 1.65em;
  margin-bottom: 60px;
}
.single article .entry-content h1, .single article .entry-content h2, .single article .entry-content h3, .single article .entry-content h4, .single article .entry-content h5, .single article .entry-content h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif";
  font-weight: 400;
}
.single article .entry-media-container {
  margin-left: -15px;
  margin-right: -15px;
}

/**
 * Tables (Content)
 * @partial
 */
.entry-content table {
  font-size: 0.85em;
  line-height: 1.65em;
}
.entry-content table td,
.entry-content table th {
  padding: 10px;
}

/**
 * Contact Form
 * @partial
 */
.wpcf7 input,
.wpcf7 textarea {
  border: 1px solid #dfdfdf;
  width: 100%;
}
.wpcf7 input[type=submit] {
  background-color: #3b9ca5;
  border: none;
  color: #fff;
}

/**
 * Responsive
 * @responsive
 */
/**
 * Desktop Responsive
 * @responsive
 */
@media (min-width: 992px) {
  html body {
    font-size: 18px;
    line-height: 1.65em;
  }

  .admin-bar .site-header {
    top: 32px;
  }

  .single article .entry-header h1 {
    font-size: 3.2em;
    letter-spacing: -1px;
    line-height: 1.15em;
  }
  .single article .entry-content {
    font-size: 20px;
    line-height: 1.8em;
  }
  .single article .entry-media-container {
    margin-left: -15%;
    margin-right: -15%;
  }
  .single article .entry-media-container.video {
    padding-top: 77%;
  }
}
/**
 * Tablet Responsive
 * @responsive
 */
@media (min-width: 768px) {
  .site-header {
    height: 60px;
  }
  .site-header .container {
    padding: 0;
  }
  .site-header .site-logo img {
    height: 80px;
  }
  .site-header .site-logo .site-logo-name {
    padding-top: 24px;
  }
  .site-header .site-navigation {
    border: none;
    display: block;
    float: right;
    background-color: transparent;
  }
  .site-header .site-navigation ul li {
    display: inline-block;
  }
  .site-header .site-navigation ul li a {
    padding: 28px 10px 12px;
  }

  .page-container {
    padding-top: 60px;
  }

  .page-header .page-title {
    font-size: 2.6em;
  }

  .featurette.cover {
    padding: 0;
    height: 24em;
  }

  .single .featurette.cover {
    height: 28em;
  }

  .admin-bar #wpadminbar {
    display: block;
  }
  .admin-bar .site-header {
    top: 32px;
  }
}
