html body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #777f89;
  font-family: "Helvetica Neue", "Helvetica", "Arial";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
}
html a {
  color: #777f89;
}
html a:hover {
  color: #878e97;
}

.col-solo {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.site-header {
  display: none;
}

.section {
  border-bottom: 1px solid #eeeeee;
  padding: 30px 0;
}
.section .section-header {
  color: #5c646e;
  margin-top: 0;
  margin-bottom: 15px;
}
.section .section-title {
  color: #5c646e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}
.section .row {
  margin: 15px;
}

.featurette {
  border: none;
  display: table;
  height: 32em;
  width: 100%;
}
.featurette.colored {
  background-color: #3b9ca5;
  color: #eeeeee;
}
.featurette.colored a {
  color: #eeeeee;
  text-decoration: underline;
}
.featurette.colored a:hover {
  background: #33878e;
}
.featurette .container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
.featurette .headline {
  font-size: 56px;
  font-weight: 300;
}
.featurette .sub-headline {
  line-height: 1.4em;
}

.chunk {
  padding: 15px;
}
.chunk.shaded {
  background: #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
}
